@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap');

body{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
    padding: 0px;;
}
header{
text-align: center;
padding: 1rem;
font-size: 3rem;
font-weight: 700;
}

.refreshBtn{
margin-bottom: 1rem;
width: 100px;
text-align: center;
margin: auto;
border-radius: 5px;
}

.container{
    text-align: center;
    display: block;
    margin: auto;
    width: 90%;
    margin-bottom: 2rem;
}

.row{
    margin: auto
}

.column{
    font-size: 1.5rem;
    float: left;
    width: 12.5%;
    padding: 10px;
    height: 100px;
    display: grid;
    margin: auto;
    padding-top: 1.5rem;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

.divContainer{
    text-align: center;
    margin: auto;
}

.divContainer button{
    border-radius: 5px;
    margin: 1rem
}

.divContainer h1{
    font-size: 2rem;
    font-weight: 700;
}

.divContainer span{
    font-size: 1.5rem;
    font-weight: 500;
}